<p><a class="confluence-link" href="/pages/viewpage.action?pageId=<%= link_id %>" data-linked-resource-id="<%= link_id %>" data-linked-resource-type="page" data-linked-resource-default-alias="<%= title %>" data-base-url="https://confluence.puppetlabs.com"><%= title %></a></p>
