<p><ac:structured-macro ac:name="widget"><ac:parameter ac:name="height">321</ac:parameter><ac:parameter ac:name="width">500</ac:parameter><ac:parameter ac:name="url"><ri:url ri:value="<%= vimeo_link %>" /></ac:parameter></ac:structured-macro><br /><%= title %></p>
